/***** Variables *****/

:root{
    /*primary colors*/
    --primary-light: #51cf66;
    --primary: #37b24d;
    --primary-dark: #2b8a3e;
    --secondary-light: #ff922b;
    --secondary: #f76707;
    --secondary-dark: #d9480f;
    --text-light: #f6f6f6;
    --text-dark: #555555;
}

/***** All Selector *****/

*,
*::before,
*::after{
    /*set the padding and margin to 0*/
    padding: 0;
    margin: 0;
    /*set the box sizing to inherit*/
    box-sizing: inherit;
}

/***** Root ******/

html{
    /*set the root font size to 10px*/
    font-size: 62.5%;
    /*set the box sizing to border-box to include the border and padding while sizing*/
    box-sizing: border-box;
}

/***** Body *****/

body{
    /*set the font proeprties for the web page*/
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-dark);
    line-height:1.6;
    /*set the min height to 100 the viewport*/
    min-height: 100vh;
}

/**** Typography ******/

.heading{
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 700;
}

.heading--1{
    font-size: 4rem;
}

.heading--3{
    font-size: 3rem;
}

.heading--5{
    font-size: 2rem;

}

.heading--main{
    /*set the font weight
    set the animation to ease in from the left*/
    font-weight: 700;
    animation: moveInLeft 2s ease-in-out;
}

.heading--sub{
    /*set the font weight
    set the animation to ease in from the right*/
    font-weight: 100;
    animation: moveInRight 2s ease-in-out;
}

.heading--green{
    color: var(--primary);
}

.heading--white{
    color: var(--text-light);
}

/***** Paragraph *****/


.paragraph:not(:last-child){
    /*set any sibling paragraphs that is not the last child to have a margin bottom*/
    margin-bottom: 4rem;
}
