/******* Button *******/

.button{
    /*set the font size to inherit
    add a 1rem vertical and 2rem horizontal padding
    add a border radius of 2rem
    remove the outline
    set all proeprties to have a transition of .2 seconds*/
    font-size: inherit;
    padding: 1rem 2rem;
    border-radius: 2rem;
    outline: transparent;
    transition: all .2s;
    /*set the display to flex
    set the width to max-content to avoid flexbox from stretching entire available space
    align items in the center*/
    display: flex;
    align-items: center;
    width: max-content;
}

.button > svg {
    /*set the widht and height*/
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.button--top{
    position: fixed;
    z-index: 100;
    bottom: 2rem;
    right: 2rem;
    box-shadow: .2rem .2rem var(--text-dark);
}

.button--top > svg{
    margin-left: 0;
}

.button--white{
    /*set the background to white
    set the text to green*/
    background-color: var(--text-light);
    color: var(--primary);
}

.button--white > svg{
    fill: var(--primary);
}

.button--green{
    /*set the background to green
    set the text to white*/
    background-color: var(--primary);
    color: var(--text-light);
}

.button--green > svg{
    fill: var(--text-light);
}

.button--animation{
     /*the shorthand animation property to specify the animation-name animation-duration and animation-timing-function and the delay
    set the animation-fill-mode to backwards.This applies the first keyframe properties to the element and retains during delay.*/
    animation: moveInBottom 2s 1s ease-in-out;
    animation-fill-mode: backwards;
}

/* Button link states */
.button--link,
.button--link:link,
.button--link:visited{
    /*remove any text decoration*/
    text-decoration: none;
}

.button--link:focus{
    /*set the box shadow to have a spread radius of .2rem with the primary light color*/
    box-shadow: 0 0 0 .2rem var(--primary-light);
}

.button--link:hover{
    /*translate the button in the y directions*/
    transform: translateY(-.3rem);
}

.button--link:active{
    /*translate the button in the y directions*/
    transform: translateY(-.1rem);
}

/*Button form states*/
.button--form{
    border: none;
}

.button--form:hover,
.button--form:active{
    background-color: var(--primary-dark);
}

.button--form:focus{
    /*set the box shadow to have a spread radius of .2rem with the primary light color*/
    box-shadow: 0 0 0 .2rem var(--primary-light);
}

/****** Feature *****/

.feature{
    /*
    set the feature background color and an opacity of 80%
    set the width of the feature
    give the feature a 2rem padding all around
    clip the corners of the feature to be rounded*/
    background-color: var(--text-light);
    opacity: 80%;
    width: 25rem;
    padding: 2rem;
    border-radius: 2rem;
    /*set the display to flex and center align the items along the cross axis*/ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature > svg{
    /*set the display to inline block so vertical padding and margin are respected
    fill the color of the svg*/
    display: inline-block;
    width: 6rem;
    height: 6rem;
    fill: var(--primary);
}


/***** Package *****/

.package{
    /*set the width 
    give a border radius of 2rem to circle out the edges
    hide the over flow,i.e the image
    give a box shaodw around the element*/
    width: 30rem;
    border-radius: 2rem;;
    overflow: hidden;
    box-shadow: 1rem 1rem 2rem var(--text-dark);
    /*set the display to flex
    set the flex direction to column
    align the items on the cross axis in the center*/
    display:flex;
    flex-direction: column;
    align-items: center;
}

.package__img{
    /*set the eight and give a width of 100%*/
    height:20rem;
    width: 100%;
}

.package__list{
    /*remove any list style
    set the display to flex
    set the flex direction to column
    align the items on the cross axis in the center*/
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.package__item{
    /*add a padding vertically of 1 rem and 0 horizontally*/
    padding: 1rem 0;
}

.package__item:not(:last-child){
    /*for every package item that is not the last child ass a bottom border*/
    border-bottom: .1rem solid var(--primary);
}

/***** Story *****/

.story{
    /*add a padding of 2rem and a border-radius to clip the edges
    set the background color
    give each story a width of 75% of its parent element
    add a box shadow to give i a popping affect*/
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--text-light);
    width: 75%;
    box-shadow: 1rem 1 rem 2rem var(--text-dark);
   /*set the display to grid
    create a 2 x 2 grid with a gao of 2rem horizontally and 1 rem vertically
    align the items in the cells to the center horizontally*/
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2,min-content);
    grid-auto-rows: min-content;
    grid-gap: 1rem 2rem;
    align-items: center;
}

.story:not(:last-child){
    /*for every story component that is not the last child, add a margin bottom of 4rem*/
    margin-bottom: 4rem;
}


.story__text{
    /*set the grid column*/
    font-size:1.6rem;
    font-family: inherit;
    grid-column: 2/3;
}

.story__title{
   font-size: 2rem;
   font-family: inherit;
    /*set the grid column*/
    grid-column: 2/3;
}

.story__img{
    /*fill the svg to the primary color
    give it a width and height of 10 rem
    specify the grid column and rows*/
    fill: var(--primary);
    height:10rem;
    width: 10rem;
    grid-column:1/2;
    grid-row: 1/-1;
}

/****** Form *****/

.form{
    /*set the width of the form to 50% of parent
    add 4rem vertically and 2rem horizontally of padding*/
    width: 50%;
    padding: 4rem 2rem;
    /*add a border radius of 2rem
    set the abckground color
    add a box shadow around the entire form*/
    border-radius: 2rem;
    background-color: var(--text-light);
    box-shadow: 1rem 1 rem 2rem var(--text-dark);
    /*create a grid with a gap of 4 rem vertically and 2 rem horizontally*/
    display:grid;
    grid-template-columns: min-content 1fr;
    grid-auto-rows: min-content;
    grid-gap: 4rem 2rem;
    align-items: center;
}

.form__label{
    /*set the color*/
    color: var(--primary);
}

.form > button{
    /*set the grid column
    justify the item to the center horizontally*/
    grid-column: 1/-1;
    justify-self: center;

}

/*Form input states*/
.form__input{
    /*set the font family and size to inherit
    add a vertical apdding of 1 rem and a horizontall padding of .5rem*/
    font-family: inherit;
    font-size: inherit;
    background-color: #fff;
    padding: 1rem .5rem;
    /*remove the border
    add a border radius
    set the outline to transparent*/
    border: none;
    border-radius: 2rem;
    outline: transparent
}

.form__input:focus:invalid{
    /*when the form input is in focus and invalid
        add a box shadow with the secondary color*/
    box-shadow: 0 0 0 .2rem var(--secondary);
}

.form__input:focus:valid{
     /*when the form input is in focus and invalid
        add a box shadow with the primary color*/
    box-shadow: 0 0 0 .2rem var(--primary);
}

/********** Media Queries **********/

/***** 900 px breakpoint *****/

@media screen and (max-width: 5665.25em){

    .form{
        width: 75%;
    }
}