/***** Grid System *****/

.body{
    /*4x8 grid*/
    display: grid;
    grid-template-rows: 100vh repeat(3, min-content);
    grid-auto-rows: min-content;
    grid-template-columns: repeat(8,1fr);
    grid-template-areas: "header header header header header header header header"
                        "main main main main main main main main"
                        "main main main main main main main main"
                        "footer footer footer footer footer footer footer footer";
}

/***** Nav ********/

.nav{
    /*set the nav to expand the entire screen width*/
    padding: 2rem;
    width: 100vw;
    /*set the nav text and background color*/
    color: var(--text-light);
    background-color: var(--text-dark);
    opacity: 95%;
    /*set the nav to be fixed to the top of the viewport*/
    position: fixed;
    top:0;
    z-index: 1;
}

/* Navigation list */
.nav__list{
    /*remove any list styles*/
    list-style: none;
    /*set the display to flex
    align the items in the cetner
    justify the content to the end of the flex box*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Every nav item that is not the last child */
.nav__item:not(:last-child){
    margin-right:2rem;
}

/* Nav link states */
.nav__link,
.nav__link:link,
.nav__link:visited{
    /*set the color to the light text
    remove any text decoration and add a transparent border
    transition all properties for .2 seconds*/
    color: var(--text-light);
    text-decoration: none;
    border: .2rem solid transparent;
    transition: all .2s;
}

.nav__link:focus{
    /*change the outline color to fit theme*/
    outline-color: var(--primary-light);
}

.nav__link:hover,
.nav__link:active{
    /* add the border bottom color*/
    border-bottom-color: var(--primary);
}

/***** Header *****/

.header{
    /* height: 100vh; */
    grid-area: header;
}

/******** Footer ********/

.footer{
    grid-area: footer;
}